<%= render partial: "books/book", locals: {book: @book_record.book} %>
<p><%= @book_record.user.name %> 
    <% if @book_record.read == true %>
        has read this book. 
    <% else %>
        wants to read this book. 
    <% end %>
</p>