<h1> <%= @author.name %> </h1>
<h2> Books: </h2>
  <% @author.books.each do |book| %>
    <h3><li><%= link_to book.title, book_path(book) %></li></h3>
  <% end %>
<br>
<h2> Genres: </h2>
  <% @author.genres.uniq.each do |genre| %>
    <h3><li><%= link_to genre.name, genre_path(genre) %></li></h3>
  <% end %>
<h2>Biography:</h2>
<p><% @author.bio %></p>
