<h1> Users </h1>
<% @users.each do |user| %> 
    <h2><%= link_to user.name, user_path(user) %></h2>
    <table width="800">
        <tr>
            <td>
                Genres:
                <% user.genres.uniq.each do |genre| %> 
                    <li><%= genre.name %></li>
                <% end %>
            </td>
            
            <td valign="top">
                Book count: <%= user.books.count %>
            </td>
        </tr>
    </table>
<% end %>