<h1> <%= @user.name %> </h1>
<% @user.books.each do |book| %>
    <h3><li><%= link_to book.title, book_path(book) %> by <%= link_to book.author.name, author_path(book.author) %> </li></h3>
<% end %>
<br>